:root {
    font-size: 16px;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Source Code Pro', monospace; */
    /* font-family: 'Baloo 2', cursive; */
    /* font-family: 'Hind Madurai', sans-serif; */
    font-family: 'Raleway', sans-serif;

    margin: 0;
    padding: 0;
    --text-primary: ;
    --text-secondary: ;
    --bg-primary: #FF8C42;
    --bg-secondary: #FF3C38;
    --transition-speed: 500ms;
}

*{
    margin: 0;
    padding: 0;
}

/* Nav Stuff */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: aliceblue;
    height: 10vh;
    min-height: 10vh;
    top: 0;
}

.nav-item {
    margin: 1rem;
}

.title {
    font-size: 1.5rem;
}

/* Buttons */
.btn-main-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid var(--bg-primary);
    border-radius: 5px;
    width: 6rem;
}

.btn-main-outline:hover {
    background-color: var(--bg-primary);
    color: white;
    cursor: pointer;
}

/* Node Styling Starts */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    height: 90vh;
    width: 100%;
}

#node-grid {
    border: 1px solid black;
    width: auto;
}

td {
    border: 1px solid black;
    height: 1.5rem;
    width: 1.5rem;
}

.start-node {
    background-color: green;
}

.finish-node {
    background-color: red;
}

.node-shortest-path {
    background-color: gold !important;
}

.node-visited {
    background-color: blue;
}

#shortest-path {
    background-color: gold;
}
